body {
    margin: 20px 40px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    width: 75%;
    margin: 10px auto;
}

svg {
    height: 160px;
}

/* for maps */
td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

.table {
    width: 75%;
    margin: 30px auto 10px;
}